%h2 Orders
%ul
  - @active_orders.each do |order|
    %li= link_to order.restaurant_name, order.restaurant_link, target: '_blank'

%h3 History of orders
%ul
  - @history_orders.each do |order|
    %li= link_to order.restaurant_name, order.restaurant_link, target: '_blank'

.new_order
  = link_to '...or create a new order', new_order_path
